# Dictionaries
- Mutable
- ordered
- have keys and values.
- values can be duplicate but keys should be unique.
- Mutables can't be  the keys.
-  But Mutables can be values.
-  Values are accessed by keys as there is no indexing of the dict.

In [3]:
course1={'Course':'data science','Timings':'10am','No of students':100}
print(course1)

{'Course': 'data science', 'Timings': '10am', 'No of students': 100}

In [22]:
course2={'Course':"Data analyst",'Timing':'11am','No of students':100,'Course':'Data scientist'}
print(course2)
print(id(course2))

{'Course': 'Data scientist', 'Timing': '11am', 'No of students': 100}
2106451749440

In [23]:
course2['No of students']=200
print(course2)
print(id(course2))

{'Course': 'Data scientist', 'Timing': '11am', 'No of students': 200}
2106451749440

In [5]:
course3={'course1':'data analyst','course2':'data analyst'}
print(course3)

{'course1': 'data analyst', 'course2': 'data analyst'}

In [6]:
student={1:'prakash',2:'Aksha',3:'priyanshu'}
print(student)

{1: 'prakash', 2: 'Aksha', 3: 'priyanshu'}

In [10]:
Innovators={{1:2}:'Steve Jobs',{3:4}:'Elon Musk'}
print(Innovators)

TypeError: unhashable type: 'dict'

In [8]:
Innovators={(1,2):'Steve Jobs',(3,4):'Elon Musk'}
print(Innovators)

{(1, 2): 'Steve Jobs', (3, 4): 'Elon Musk'}

In [20]:
Innovators[(1,2)]

'Steve Jobs'

In [11]:
guitar_str={1:['E'],2:['b'],3:['G']}
print(guitar)

{1: ['E'], 2: ['b'], 3: ['G']}

In [13]:
guitar_str={1:{'E'},2:{'b'},3:{'G'}}
print(guitar)

{1: {'E'}, 2: {'b'}, 3: {'G'}}

In [14]:
guitar_str={1:('E'),2:('b'),3:('G')}
print(guitar)

{1: {'E'}, 2: {'b'}, 3: {'G'}}

In [16]:
guitar_str[1]

'E'

In [25]:
guitar_str[0]

KeyError: 0

In [24]:
guitar_str={1:('E'),2:('b'),3:('G')}
guitar_str[3]

'G'

In [19]:
guitar_str[2]

'b'

In [2]:
course1={'Course':'data science','Timings':'10am','No of students':100}
new=list(course1)
print(new)

['Course', 'Timings', 'No of students']

In [27]:
tuple1=tuple(course1)
print(tuple1)

('Course', 'Timings', 'No of students')

In [33]:
set1=set(course1)
print(set1)

{'Course', 'No of students', 'Timings'}

In [2]:
d={'name':'Prakash','age':23,'Salary':500000,'Place of birth':'Haldwani'}            # direct call
print(d['name'])

Prakash

# .get()

In [3]:
print(d.get('age'))               #  used .get()

23

In [4]:
print(d.get('Salary'))

500000

In [5]:
print(d.get('Occupation'))

None

In [6]:
d['Occupation']='Chief data scientist'
print(d)

{'name': 'Prakash', 'age': 23, 'Salary': 500000, 'Place of birth': 'Haldwani', 'Occupation': 'Chief data scientist'}

# Update() :-

In [7]:
d.update({'name':'Deepak rawat','Pin code':263139})
print(d)

{'name': 'Deepak rawat', 'age': 23, 'Salary': 500000, 'Place of birth': 'Haldwani', 'Occupation': 'Chief data scientist', 'Pin code': 263139}

In [8]:
d.update({'country':'India'})
print(d)

{'name': 'Deepak rawat', 'age': 23, 'Salary': 500000, 'Place of birth': 'Haldwani', 'Occupation': 'Chief data scientist', 'Pin code': 263139, 'country': 'India'}

# pop() :-

In [9]:
popped=d.pop('country')
print(popped)
print(d)

India
{'name': 'Deepak rawat', 'age': 23, 'Salary': 500000, 'Place of birth': 'Haldwani', 'Occupation': 'Chief data scientist', 'Pin code': 263139}

# popitem() :-

In [10]:
popped2=d.popitem()                                            # delete the last element of the dict
print(popped2)
print(type(popped2))
print(d)

('Pin code', 263139)
<class 'tuple'>
{'name': 'Deepak rawat', 'age': 23, 'Salary': 500000, 'Place of birth': 'Haldwani', 'Occupation': 'Chief data scientist'}

In [11]:
d.pop("Haldwani")                                       # takes only keys not values.
print(d)

KeyError: 'Haldwani'

# keys(),values(),Items() :-

In [22]:
c={'name':'Prakash','age':23,'Salary':500000,'Place of birth':'Haldwani'} 
c.keys()

dict_keys(['name', 'age', 'Salary', 'Place of birth'])

In [23]:
print(type(c))

<class 'dict'>

**As class dict is not useful to us so we change the data type through type casting:-**

In [25]:
c_list=list(c.keys())
print(c_list)
print(type(c_list))

['name', 'age', 'Salary', 'Place of birth']
<class 'list'>

In [30]:
Values=c.values()
print(Values)
print(type(Values))

dict_values(['Prakash', 23, 500000, 'Haldwani'])
<class 'dict_values'>

In [32]:
values_tuple=tuple(c.values())
print(values_tuple)
print(type(values_tuple))

('Prakash', 23, 500000, 'Haldwani')
<class 'tuple'>

In [34]:
Items=c.items()
print(Items)
print(type(Items))

dict_items([('name', 'Prakash'), ('age', 23), ('Salary', 500000), ('Place of birth', 'Haldwani')])
<class 'dict_items'>

In [35]:
Item_set=set(c.items())
print(Item_set)
print(type(Item_set))

{('age', 23), ('Salary', 500000), ('name', 'Prakash'), ('Place of birth', 'Haldwani')}
<class 'set'>

In [37]:
set4=set(c)
print(set4)

{'Salary', 'age', 'Place of birth', 'name'}

In [38]:
list1=list(c)
print(list1)

['name', 'age', 'Salary', 'Place of birth']

In [39]:
tuple1=tuple(c)
print(tuple1)

('name', 'age', 'Salary', 'Place of birth')