# Input function:-

In [6]:
amount=input('Enter amount in words:')

Enter amount in words: Ten thousand

In [7]:
type(amount)

str

**The type of data from input function is always string.**

In [8]:
amount1=input('Enter amount in digits:')

Enter amount in digits: 10000

In [10]:
amount3=input('Enter amount in digits')
amount4=input('Entet amount in digits')
print(amount3+amount4)

Enter amount in digits 34
Entet amount in digits 25

3425

In [11]:
amount3=int(input('Enter amount in digits'))
amount4=int(input('Entet amount in digits'))
print(amount3+amount4)

Enter amount in digits 34
Entet amount in digits 25

59

# get multiple inputs from a user in one line: use of split() function:-
- It is possible in python to get multiple values from the user.
- take each input separated by space split input using split() get the value of individual  input.
- **common use of split():**
- tokenizing a string: if you have a string that contains multiple words or values separated by a specific character(such as comma,space or any other delimiter) you can use split() to split the string into individual tokend.
- **split() takes only string.**
- **, comes as default.**
- **helps to remove any delimiter.**

In [35]:
sentence='helloo how are you today'
words=sentence.split()
print(words)

['helloo', 'how', 'are', 'you', 'today']

In [37]:
type(words)

list

In [39]:
sentence='helloo how are you today'
words=sentence.split('*')
print(words)

['helloo how are you today']

In [46]:
sentence='helloo how are you today'
words=sentence.split(1)
print(words)

TypeError: must be str or None, not int

#  Extracting substring:
- if you have a string with a consistent pattern and you want to extract specific parts of it, you can use split() to separate the string into parts and access the desired substring.

In [1]:
date='2023*02*02'
year,month,day=date.split('*')
print(year,month,day)

2023 02 02

In [4]:
date='2023*02*02'
newdate=list(date.split('23'))
print(newdate)

['20', '*02*02']

In [5]:
jl=date.split('23')
print(jl)

['20', '*02*02']

In [6]:
u='my-name:*prakash rawat'
intro=u.split('-')
print(intro)

['my', 'name:*prakash rawat']

In [47]:
u='my-name:*prakash rawat'
intro=u.split('my')
print(intro)

['', '-name:*prakash rawat']

In [60]:
hn='my,name,is,prakashrawat'
l=hn.split()
print(l)

['my,name,is,prakashrawat']

In [6]:
name,age,marks=input('Enter your name,age,marks:').split('$')
print('user details:',name,age,marks)

Enter your name,age,marks prakash$23$99.1

user details: prakash 23 99.1

In [14]:
num1=input('Enter three name:')

Enter three name: prakash,deepak,sakshi

In [19]:
num1=input('Enter three name:').split(',')
print(num1)

Enter three name: prakash,deepak,sakshi

['prakash', 'deepak', 'sakshi']

In [18]:
num1=input('Enter three name:').split('*')
print(num1)

Enter three name: prakash*deepak*sakshi

['prakash', 'deepak', 'sakshi']

# Basic calculator:

In [13]:
num1=float(input('Enter first number'))
num2=float(input('Enter second number'))
print(num1+num2)

Enter first number 89
Enter second number 100

189.0

In [14]:
num1=float(input('Enter first number'))
num2=float(input('Enter second number'))
print(num1//num2)

Enter first number 100
Enter second number 50

2.0

In [16]:
num1=float(input('Enter first number'))
num2=float(input('Enter second number'))
print(num1%num2)

Enter first number 100
Enter second number 50

0.0

In [17]:
num1=float(input('Enter first number'))
num2=float(input('Enter second number'))
print(num1*num2)

Enter first number 19
Enter second number 19

361.0

# Conditional statement(if,else,elif):

In [12]:
num=float(input('Enter first number:'))
num1=float(input('Enter second number:'))
operators=input('operator used:')
if operators == '+':
                result=num+num1
elif operators == '-':
                result=num-num1
elif operators == '*':
                result=num*num1
else:
    print('operator not found')
print(result)

Enter first number: 56
Enter second number: 89
operator used: +

145.0

In [10]:
num=float(input('Enter first number:'))
num1=float(input('Enter second number:'))
operators=input('operator used:')
if operators == '+':
                result=num+num1
                print(result)
elif operators == '-':
                result=num-num1
                print(result)
                
elif operators == '*':
                result=num*num1
                print(result)
               
else:
    print('None of the above operator used')

Enter first number: 85
Enter second number: 5
operator used: /

None of the above operator used

In [15]:
number=input()

 the input is not given

In [16]:
num1=input('enter a number')

enter a number 13

In [18]:
your_name=input('Fill up your name:')

Fill up your name: prakash rawat

In [23]:
x=4
y=3
result=x*y

In [25]:
print('multiplication is:',result)

multiplication is: 12

In [29]:
num=float(input('Enter first number:'))

Enter first number: 45

In [27]:
type(num)

float

In [31]:
no1=float(input('Enter first number:'))
no2=float(input('Enter second number:'))
no1+no2

Enter first number: 89
Enter second number: 45

134.0

In [20]:
no1=float(input('Enter first number:'))
no2=float(input('Enter second number:'))
if no1*no2>no1:
    print('yeahh')
elif no1*no2<15:
    print('Nope')
else:
    print('hmm perfect')

Enter first number: 45
Enter second number: 1

hmm perfect

In [4]:
no1=float(input('Enter first number:'))
no2=float(input('Enter second number:'))
operator=input('operator to be used:')
if operator=='+':
    output=no1+no2
    print(output)
elif operator=='-':
    output=no1-no2
    print(output)
elif operator=='*':
    output=no1*no2
    print(output)
elif operator=='/':
    output=no1/no2
    print(output)
else:
    print('Invalid operator')                                # the print(output) is to be given before the else statement,otherwise the error will be shown.

Enter first number: 45
Enter second number: 65
operator to be used: //

Invalid operator

In [1]:
ingredients=(input('Ingredients used: '))
if ingredients==(['lemon','water','tea leaves']):
    print('choice:','lemon tea')
elif ingredients==(['milk','water','tea leaves']): 
    print('choice:','Milk tea')
elif ingredients==(['milk','water','ginger','cardamom','tea leaves']):
    print('choice','masala tea')
else:
    print('Protein shake')

Ingredients used:  milk,water,tea leaves

Protein shake

In [9]:
ingredients=(input('Ingredients used: ')).split(',')
if ingredients==(['lemon','water','tea leaves']):
    choice='lemon tea'
    print(choice)
elif ingredients==(['milk','water','tea leaves']):
    choice='Milk tea'
    print(choice)
elif ingredients==(['milk','water','ginger','cardamom','tea leaves']):
    choice='Masala tea'
    print(choice)
else:
    print('Protein shake')

Ingredients used:  'milk','water','ginger','cardamom','tea leaves'

Protein shake

In [3]:
print('host:what will u have sir\nsir:what varities do you have in tea\nhost: sir we have:')

type1='lemon tea'
type2='Milk tea'
type3='masala tea'
print('1',type1)
print('2',type2)
print('3',type3)


choice=(input('i will have: '))
if choice=='lemon tea':
    print("ingredients used :'lemon','water','tea leaves'")
elif choice=='milk tea':
    print("ingredients used:'milk','water','tea leaves'")
elif choice=='masala tea':
    print("ingredients used:'milk','water','ginger','cardamom','tea leaves'")
else:
    print('you must try our special protein shake sir')

host:what will u have sir
sir:what varities do you have in tea
host: sir we have:
1 lemon tea
2 Milk tea
3 masala tea

i will have:  lemon tea

ingredients used :'lemon','water','tea leaves'

In [5]:
ingredient1=input('ingredient1:')
ingredient2=input('ingredient2:')
ingredient3=input('ingredient3:')
ingredient4=input('ingredient4:')
ingredient5=input('ingredient5:')
if ingredient1=='lemon'and ingredient2=='water'and ingredient3=='tea leaves':
    print('choice:','lemon tea')
elif ingredient1=='milk'and ingredient2=='water'and ingredient3=='tea leaves':
    print('choice:','milk tea')
elif ingredient1=='milk'and ingredient2=='water'and ingredient3=='ginger'and ingredient4=='cardamom'and ingredient5=='tea leaves':
    print('choice','masala tea')
else:
    print('protein shake')

ingredient1: lemon
ingredient2: water
ingredient3: tea leaves
ingredient4:
ingredient5:

choice: lemon tea

In [4]:
ingredients=(input('Ingredients used: ')).split(',')
if ingredients==(['lemon','water','tea leaves']):
    choice='lemon tea'
    print(choice)
elif ingredients==(['milk','water','tea leaves']):
    choice='Milk tea'
    print(choice)
elif ingredients==(['milk','water','ginger','cardamom','tea leaves']):
    choice='Masala tea'
    print(choice)
else:
    print('Protein shake')

Ingredients used:  lemon,water,tea leaves

lemon tea

In [5]:
host=input('Will you have tea sir?(YES/NO):')
Tea=input('Which tea would you like to drink,we have-(Lemon tea/milk tea/Masala tea):')
ingredients=input('which ingredients will you use in making that?:').split(',')
if Tea=='lemon tea':
    print('sir your lemon tea is ready,hope you will love it.')
elif Tea=='milk tea':
    print('sir your milk tea is ready,pls have it.')
elif Tea=='masala tea':
    print('sir your kadak masala tea is ready.')
else:
    print('u can have a look on our main course,its the best out there.')

Will you have tea sir?(YES/NO): yes
Which tea would you like to drink,we have-(Lemon tea/milk tea/Masala tea): milk tea
which ingredients will you use in making that?: milk,water,tea leaves

sir your milk tea is ready,pls have it.