# Adding elements to the list.

In [2]:
list1=[23,42,45,34,'prakash rawat']
print(id(list1))

1480078273920

In [3]:
list1=[23,43,53,53,67,45,23]
print(id(list1))

1480117720576

In [4]:
list1=[23,43,53]
print(id(list1))

1480078274688

# Append

In [5]:
list1.append('prakash rawat')
print(list1)

[23, 43, 53, 'prakash rawat']

In [6]:
list1.append(32)
print(list1)

[23, 43, 53, 'prakash rawat', 32]

In [7]:
list1.append(['prakash rawat',89,78])
print(list1)

[23, 43, 53, 'prakash rawat', 32, ['prakash rawat', 89, 78]]

# Extend

In [8]:
list2=['deepak rawat']
list2.extend('sakshi bisht')
print(list2)

['deepak rawat', 's', 'a', 'k', 's', 'h', 'i', ' ', 'b', 'i', 's', 'h', 't']

In [9]:
list2=['deepak rawat']
list2.extend('100')
print(list2)

['deepak rawat', '1', '0', '0']

In [11]:
list1.extend('78')
print(list1)

[23, 43, 53, 'prakash rawat', 32, ['prakash rawat', 89, 78], '7', '8']

# difference between append and extend
- **append return the same string whereas extend return the subtring of the given string.**

- **append can take int,whereas extend does not take int.**

- **in append if the list is passed than in the output the list is separetly shown inside the previous listi.e nested list,but in extend the whole result is showed as one**

- **.extend works for iterable data types-set,tuple etc**

# Insert:

In [8]:
list1.insert(1,'deepak rawat')
print(list1)
print(id(list1))

[23, 'deepak rawat', 43, 53, 53, 67, 89, 54, 'prakash rawat', 'p', 'r', 'a', 'k', 'a', 's', 'h', ' ', 'r', 'a', 'w', 'a', 't']
1972904225280

***Insert does not remove the element but replaces the index number.**

In [10]:
list1.append('deepakraj',43,23,53)
print(list1)

TypeError: list.append() takes exactly one argument (4 given)

In [12]:
list1.insert(8,['deepak rawat',98,2.5,887.25,'deepak rawat'])
print(list1)

[23, 'deepak rawat', 43, 53, 53, 67, 89, 54, ['deepak rawat', 98, 2.5, 887.25, 'deepak rawat'], 'prakash rawat', 'p', 'r', 'a', 'k', 'a', 's', 'h', ' ', 'r', 'a', 'w', 'a', 't']

In [16]:
list4=[32,432,53,64,'deepak']
list4.insert(5,[89,67])
print(list4)

[32, 432, 53, 64, 'deepak', [89, 67]]

In [17]:
list4.insert(-1,43)
print(list4)

[32, 432, 53, 64, 'deepak', 43, [89, 67]]

In [19]:
list4.insert(-2,100)
print(list4)

[32, 432, 53, 64, 'deepak', 43, 100, 43, [89, 67]]

In [40]:
lim=[54,64,74]
lip=lim.append(100)
print(lip)                                   # it showed none because the .append is applied on lim not lip

None

In [2]:
list2=[4,5,6]
print(id(list2))
list2[1]=7
print(list2)
print(id(list2))

2289763623296
[4, 7, 6]
2289763623296

In [3]:
[1,3,4]+[4,6,7]

[1, 3, 4, 4, 6, 7]

In [42]:
lim=[54,64,74]
lip=[lim.append(100)]
print(lip)

[None]

In [44]:
pr=[34,53]
pr.append(99)
pr

[34, 53, 99]

In [47]:
pr=[34,53]
pr.extend(9)
pr

TypeError: 'int' object is not iterable

In [1]:
set1=[34,53,62,66,62]
set1.extend({12,32,54})
print(set1)

[34, 53, 62, 66, 62, 32, 12, 54]

In [2]:
set1=[34,53,62,66,62]
set1.append({12,32,54})
print(set1)

[34, 53, 62, 66, 62, {32, 12, 54}]

# modification of item in  the list

In [51]:
new=[43,52,42,54,89]
new[1]=100                                         # the value in the index will be changed.
print(new)

[43, 100, 42, 54, 89]

In [50]:
new=[43,52,42,54,89]
new[1]==100
print(new)                                            # no operation is performed thats why it returned the same list.

[43, 52, 42, 54, 89]

# Removing elements from  the list.
- **remove(item): to remove the first occurence of the item from the list.**
- **pop(index): removes and returns the item at the given index from the list.**
- **clear(): to remove all the items from the list, the output will be an empty list.**
- **del list_name: delete the entire list.**

# remove: takes only one argument,and removes the first occuring item.

In [12]:
hm=[12,77,45,65,77,89,'prakash rawat']

In [13]:
hm.remove(77)
print(hm)

[12, 45, 65, 77, 89, 'prakash rawat']

In [26]:
hm.pop(-1)

'prakash rawat'

In [19]:
hm.clear()
print(hm)

[]

In [20]:
del hm

In [21]:
print(hm)

NameError: name 'hm' is not defined

In [28]:
hmm=[25,35,25,95,25,25]
hmm.remove(25)
print(hmm)

[35, 25, 95, 25, 25]

In [30]:
hmm=[[25,89,25],35,25,95,25,25]
hmm.remove(25)
print(hmm)

[[25, 89, 25], 35, 95, 25, 25]

In [35]:
hmm=[{25,89,25},35,25,95,25,25]
hmm.remove(25)
print(hmm)                          #incase of set its taking the item inside of the set.

[{89, 25}, 35, 95, 25, 25]

In [32]:
hmm=[(25,89,25),35,25,95,25,25]
hmm.remove(25)
print(hmm)

[(25, 89, 25), 35, 95, 25, 25]

In [36]:
hmm=['25,89,25',35,25,95,25,25]
hmm.remove(25)
print(hmm)

['25,89,25', 35, 95, 25, 25]

In [42]:
hmm.pop(1)

35

# Remove the range of items.
- use del keyword along with slicing to remove the range of items.

In [44]:
gm=[43,6,75,8,423,75,'prakash','sakshi','hn ji']
del gm[7]
print(gm)

[43, 6, 75, 8, 423, 75, 'prakash', 'hn ji']

In [45]:
gm=[43,6,75,8,423,75,'prakash','sakshi','hn ji']
del gm[0:6]
print(gm)

['prakash', 'sakshi', 'hn ji']

In [50]:
gm=[43,6,75,8,423,75,'prakash','sakshi','hn ji']
del gm[-1::-5]
print(gm)

[43, 6, 75, 423, 75, 'prakash', 'sakshi']

In [52]:
pr=[]
pr.append([12,56,76,76,87,'deepak'])
print(pr)

[[12, 56, 76, 76, 87, 'deepak']]

In [53]:
pr=[]
pr.extend([12,56,76,76,87,'deepak'])
print(pr)

[12, 56, 76, 76, 87, 'deepak']

# Reversing the list

In [55]:
gm=[43,6,75,8,423,75,'prakash','sakshi','hn ji']
gm.reverse()
print(gm)

['hn ji', 'sakshi', 'prakash', 75, 423, 8, 75, 6, 43]

In [68]:
gm[::-1]

['hn ji', 'sakshi', 'prakash', 75, 423, 8, 75, 6, 43]

# Finding an element in the list.
- **.index() takes the item and return the index of that particular given item**

In [65]:
gm=[43,6,75,8,423,75,'prakash','sakshi','hn ji']
gm.index(8)

3

In [25]:
jn=[1,2,5,9,8,7]
jm=jn[0:4]
print(jm)
print(id(jn))

[1, 2, 5, 9]
1252758094144

In [7]:
jn=[1,2,5,9,8,7]
del jn[4:6]
pr=jn
print(pr)
print(id(jn))

[1, 2, 5, 9]
1252712609792

In [14]:
o_list=[12,56,78,76,98]
n_list=[]
n_list.append(o_list)
print(n_list)

[[12, 56, 78, 76, 98]]

In [16]:
list2=[34,6,53,63,622,7]
print(id(list2))
list3=[]
list3.extend(list2)
print(list3)
print(id(list3))

1252735979392
[34, 6, 53, 63, 622, 7]
1252735975872

In [31]:
list9=[1,2,5,9,8,7]
print(id(list9))
list10=[]
list9.remove(8)
list9.pop(4)
list10.extend(list9)
print(list10)
print(id(list10))

1252766622528
[1, 2, 5, 9]
1252766690624

# Concatenation of  two list

In [1]:
my_list1=[1,2,3]
my_list2=[4,5,6]
my_list1.extend(my_list2)
print(my_list1)

# using + operator

my_list3= my_list1 + my_list2
print(my_list3)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 4, 5, 6]

In [2]:
my_list1=[3,4,5]
my_list2=[7,8,9]
my_list1.append(my_list2)           # .append is not a proper way to concatenate as append makes another list i.e a nested list in the output..
print(my_list1)

[3, 4, 5, [7, 8, 9]]

In [26]:
new_1=[23,42,41,51,56]
new_2=[67,87,34,63,23]
new_3=new_1+new_2
print(new_3)

[23, 42, 41, 51, 56, 67, 87, 34, 63, 23]