# Iterable = that can be looped or called.
- string
- list
- tuple
- set
-dict

**int,float are non-iterable.**

# Data types: 
-  There are two types of data one is **mutable and the other one is immutable.**

# Mutable data types:
**these are those data types which can be changed but after changing, their memory address do not changes**  ***L,S,D***

-list
- set
- dictionary

# List(mutuble/unhashable/sequence data type):-
- it is a mutable data type having following characterstics.
- It contains **duplicate items**.
- It can be modified,replaced or deleted **without changing memory addressed**.
- List is **ordered** i.e the order of the element is based in such a way that they can be edit in some order.
- The items of the list can be accessed directly ********using their index number and the index number starts from zero(0)********.
- The list may contains *mixed type of data*.
- **[] represents the list**.
- The list can contain **duplicates** i.e list can have two items with the same values.
- **List is iterable**

# Creating a python list with different data types:-

**The list can be created using either the list construtor or using square brackets[]**.
- **Using list() constructor**: the constructor of a class has its class name. similarly create a list by passing the comma separated values inside the list().
- **using square bracket[]**: in this method, we can create a list simply by enclosing the items inside the square bracket.

In [6]:
list1=[1,4,53]
tuple=(1,5,7,87)
set1={2,5,7,90}
str1='prakash rawat'

In [7]:
list3=list(tuple)
print(list3)

[1, 5, 7, 87]

In [8]:
list4=list(set1)
print(list4)

[2, 5, 90, 7]

In [9]:
list5=list(str1)
print(list5)

['p', 'r', 'a', 'k', 'a', 's', 'h', ' ', 'r', 'a', 'w', 'a', 't']

In [2]:
str_name= 'deepak'
list6=list(str_name)                 # TYPE CASTING
print(list6)

['d', 'e', 'e', 'p', 'a', 'k']

In [13]:
mixlist=[34,5,43,53,6,34.2,'prakash rawat']
len(mixlist)

7

In [17]:
list_items=[34,'Prakash',(25,),[4,5,6],True]
print(list_items)

[34, 'Prakash', (25,), [4, 5, 6], True]

In [7]:
list1=[43,45,67,26,754,75]
print(list1)

[43, 45, 67, 26, 754, 75]

In [15]:
tuple1=(43,53,52,5,6,34,'prakash')
print(tuple1)

(43, 53, 52, 5, 6, 34, 'prakash')

In [12]:
str1=['prakash','deepak','sakshi','vishal']
print(str1)

['prakash', 'deepak', 'sakshi', 'vishal']

In [13]:
list2=['deepak','deepak',43,53,343,43,56.0,99.9]
print(list2)

['deepak', 'deepak', 43, 53, 343, 43, 56.0, 99.9]

In [16]:
set={43,53,43,53,65,65,'Prakash','Shubham','Vishal'}
print(set)

{65, 'Shubham', 53, 'Vishal', 43, 'Prakash'}

In [1]:
list2_int=[1,2,3,4,5,5,34,53,43,23,2]
print(list2_int)

[1, 2, 3, 4, 5, 5, 34, 53, 43, 23, 2]

# INDEXING
  **list is ordered how:Accessing items of a list (indexing shows the property of list being orderd**
- the items in a list can be accessed through indexing and slicing. This section will guide you by accessing the list using the following two ways.
- using indexing, we can access any item from a list using its index number.
- using slicing,we can access a range of items from a list.

In [14]:
mylist=[43,53,54.54,'prakash','shubham']
mylist[3]

'prakash'

In [ ]:
mylist[-1:-6:-1]

In [15]:
mylist[-1]

'shubham'

In [16]:
len(mylist)

5

In [18]:
mylist[-5]

43

In [19]:
add=len(mylist)+10
print(add)

15

# SLICING

In [33]:
mylist=[43,53,54.54,'prakash','shubham',88.78,25,52.22,'sakshi','vishal','kanishka']

In [34]:
mylist[0:3]

[43, 53, 54.54]

In [35]:
mylist[1:10]

[53, 54.54, 'prakash', 'shubham', 88.78, 25, 52.22, 'sakshi', 'vishal']

In [36]:
mylist[3:4]

['prakash']

In [37]:
mylist[-1:]

['kanishka']

# step indexing

In [40]:
mylist[0:11:3]

[43, 'prakash', 25, 'vishal']

In [41]:
mylist[3:9:2]

['prakash', 88.78, 52.22]

In [1]:
list5=[53,'prakash',43,25.5]
type(list5)

list

In [8]:
tuple2=(43,54,78,45,54)
type(tuple2)

tuple

In [9]:
set0={43,43,53,52.5,'prakash',43}
type(set0)

set

In [10]:
list6=list(tuple2)
print(list6)

[43, 54, 78, 45, 54]

In [11]:
len(list6)

5

In [33]:
list7=list(set0)
print(list7)

['prakash', 43, 52.5, 53]

In [13]:
len(list7)

4

In [14]:
list7[0:5]

['prakash', 43, 52.5, 53]

In [26]:
list7[0:]

['prakash', 43, 52.5, 53]

In [24]:
list7[:-1]

['prakash', 43, 52.5]

In [22]:
list7[::-1]

[53, 52.5, 43, 'prakash']

# Iterating a list.
- The objects in the list can be iterated over one by one by using a for loop.

In [29]:
my_list=[4,5,'Geoffrey Hinton',2.5,'Sam altman']
print(my_list)       # without iteration

[4, 5, 'Geoffrey Hinton', 2.5, 'Sam altman']

***iterate a list***

In [32]:
for i in my_list:
    print(i)

4
5
Geoffrey Hinton
2.5
Sam altman