#  python variable
- In python variables are used to restore data that can be referenced and manupulated during solving the problems.
- A variable is assigned a value.In python it is not necessary to declare the data type during assignment of a variable.
- Variable act as a placeholder of data.

In [6]:
name='Prakash'
print(name)

Prakash

In [7]:
print('name')

name

In [8]:
print(x)

NameError: name 'x' is not defined

In [9]:
x=50
print(x)

50

# Rule for naming variable.
- variable names can only contain letter,digits and underscores(_).
- A variable name cannot start with a digit.
- Variable names are case sensitive.
- Avoid using python keywords.

# rule 1-

In [10]:
 no_of_students=90
print(no_of_students)

90

In [11]:
1=90                          # wrong as it cannot start with a numerical value

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (658447676.py, line 1)

In [12]:
_students=43
print(_students)

43

In [14]:
total-student=89
print(total-student)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1397739954.py, line 1)

# rule2_

In [15]:
9_student=98
print(9_student)

SyntaxError: invalid decimal literal (2452854445.py, line 1)

# rule3-

In [16]:
x=43
print(X)

NameError: name 'X' is not defined

# rule4

In [18]:
True=32
print(True)

SyntaxError: cannot assign to True (3901352980.py, line 1)

# Dynamic typing
- Python variables are dynamically typed.

In [20]:
x=43
print(x)
x='Prakash'
print(x)

43
Prakash

# Multiple assignment.
- Python allows multiple variables in a single line.

In [21]:
a=13
b=13
c=13
a=b=c
print(a)

13

In [22]:
print(b)

13

In [23]:
print(c)

13

In [24]:
print(a,b,c)

13 13 13

# Assigning different values.
- Pyhton allows different values to multiple variables.

In [2]:
a=12
b=42
c=52
z='Prakash'
print(a,b,c,z)

12 42 52 Prakash

In [3]:
x,y,z=12,42,'deepak'
print(x)

12

In [4]:
print(y)

42

In [5]:
print(z)

deepak

In [6]:
x=42.44
i=True
y='prakash rawat '
print(x)

42.44

In [7]:
print(y,x,i)

prakash rawat  42.44 True