# SET:
- **Unordered:** the items in the set are unordered unlike list it will not maintain the order in which the items are inserted.there will be no index value assigned to each item in the set
- **Unchangeable:** set items must be immutable.We cannot change the set items. But set as as a whole is mutable.
- **unique:** There cannot be two items with the same value in the set,i.e **no duplicates** 
- **inside the set the mutables cannot come like list,set and dict, only the immutable can come  there like int,string,tuple.**

In [5]:
list1=[2,5,2,5,7,8]
new_set=set(list1)
print(new_set)

{8, 2, 5, 7}

In [6]:
new_list=list(new_set)                                     # type casting
print(new_list)

[8, 2, 5, 7]

# Creating a set:
- using of curly brackets{}.and the individual values are comma seperated.
- using set() constructor,must have iterable objects like L,S,D,sting and tuple.

In [14]:
string='prakash'
new=set(string)
print(new)

{'a', 'p', 'h', 'k', 'r', 's'}

In [17]:
string='prakash','sakshi','deepak','prakash','thappa'
new=set(string)
print(new)

{'thappa', 'deepak', 'sakshi', 'prakash'}

In [9]:
tuple1=(2,4,7,9,5,9,4,2)
new_set=set(tuple1)
print(new_set)

{2, 4, 5, 7, 9}

In [20]:
sample_set={'prakash','vishal',43,75,32,[5,2,6]}   # list is unhasable i.e it is mutable so can't be a item of the set.
print(sample_set)

TypeError: unhashable type: 'list'

In [21]:
list2=[45,78,99,47,99,7,45]
list2.append(100)
print(list2)

[45, 78, 99, 47, 99, 7, 45, 100]

In [22]:
set1=set(4,5)                                    # set constructor tqkes only one argument.

TypeError: set expected at most 1 argument, got 2

In [27]:
list1=list([45,65],67)
print(list1)

TypeError: list expected at most 1 argument, got 2

In [3]:
set2=set('3')                           
print(set2)

{'3'}

#  **if there is no element inside a curly bracket{},then this type of data will be dictionary.**

In [32]:
set1={}
print(type(set1))

<class 'dict'>

In [6]:
my_set={3,1.5,6,8}
new_list=list(my_set)
new_list
new_list[1]

1.5

In [8]:
my_set={3,1.5,6,8}
new_list=tuple(my_set)
new_list
new_list[1]

1.5

In [10]:
my_list=[3,5,3,6,]
new=set(my_list)
new

{3, 5, 6}

In [11]:
my_list=[3,5,3,6,]
new=tuple(my_list)
new

(3, 5, 3, 6)

In [12]:
new=[*,%,?]
print(new)

SyntaxError: Invalid star expression (1782502936.py, line 1)

In [15]:
new[5*5]

IndexError: tuple index out of range

In [20]:
set1={1,4,6,8,9}
for i in set1:
    print(i)

1
4
6
8
9

In [22]:
set1={1,4,6,8,9}
for w in set1:
    print(w)

1
4
6
8
9

In [24]:
str='prakash'
for i in str:
    print(i)

p
r
a
k
a
s
h

In [26]:
tup=(3,5,6)
for i in tup:
    print(i)

3
5
6

In [28]:
list=[4,6,7,8,6,'prakash','4',4]
new=set(list)
new

{4, '4', 6, 7, 8, 'prakash'}

# Concatenation

In [12]:
set1={21,42,523,63,78,53}
set2={53,76,86,98,34,32}
new1=list(set1)
new2=list(set2)
new4=new1+new2
print(new4)
newset=set(new4)
print(newset)

[53, 21, 42, 523, 78, 63, 32, 98, 34, 53, 86, 76]
{32, 98, 34, 42, 523, 76, 78, 21, 53, 86, 63}

In [40]:
set1={21,42,523,63,78,88}
set2={100,63,530,78,98,88}
set3= set1-set2
print(set3)

{42, 523, 21}

In [21]:
list2=list(set1)
list3=list(set2)
list4=list2+list3
print(list4)

[100, 21, 42, 523, 78, 63, 98, 530, 100, 88, 62, 78]

In [35]:
set1={21,42,523,63,78,53}
set2={53,76,86,98,34,32}
set3= set1*set2
print(set3)

TypeError: unsupported operand type(s) for *: 'set' and 'set'

In [17]:
set1={21,42,523,63,78,100}                                  # & is giving the common elements.
set2={100,62,530,78,98,88}
set3= set1&set2
print(set3)

{100, 78}

In [18]:
set1={21,42,523,63,78,100}                                  # & is giving the common elements.
set2={100,62,530,78,98,88}
set3= set1 in set2
print(set3)

False

In [1]:
set1={21,42,523,63,78,100}                                 
set2={100,62,530,78,98,88}
set3= set1  not in set2
print(set3)

True

In [2]:
set1={21,42,523,63,78,53}
set2={100,62,530,78,98,88}
set3= set1%set2
print(set3)

TypeError: unsupported operand type(s) for %: 'set' and 'set'

In [3]:
set1={2,4,5,6,7}
tuple1=(8,9,6,4)
newset=tuple(set1)
add=newset+tuple1
print(add)
N=set(add)
print(N)

(2, 4, 5, 6, 7, 8, 9, 6, 4)
{2, 4, 5, 6, 7, 8, 9}

In [6]:
new4=list(set1+tuple1)
print(new4)

TypeError: unsupported operand type(s) for +: 'set' and 'tuple'

In [16]:
first='prakash'
last=' rawat'
full=first+last
print(full)

prakash rawat

In [27]:
a=43
b=62
c=a+b
print(c)

105

- **Two tuples can be added.**

- **Two list can be added**

- **Two set can't be added**

- **Two strings can be added**

**Empty curly brackets are dict type:**

In [54]:
set1={}
print(type(set1))

<class 'dict'>

In [9]:
tuple2=()
print(type(tuple2))

<class 'tuple'>

In [10]:
book_set={'Harry potter','Angels and Demons','Atlas shrugged'}
for i in book_set:
    print(i)

Harry potter
Angels and Demons
Atlas shrugged

In [11]:
New=list(book_set)
New[0:3]
New

['Harry potter', 'Angels and Demons', 'Atlas shrugged']

In [12]:
New=list(book_set)
New[0]

'Harry potter'

In [13]:
New[1]

'Angels and Demons'

In [14]:
New[::-1]

['Atlas shrugged', 'Angels and Demons', 'Harry potter']

In [15]:
New[-1:-2:-1]

['Atlas shrugged']

# checking if an item exist in set

In [16]:
print('Harry potter' in book_set)

True

In [17]:
set2={'ab','prakash','sakshi',23,42}
print(43 in set2)

False

In [18]:
'prakash' in set2

True

In [19]:
len(set2)

5

# Removing items from a set.
- **Remove()** - removes a single item . it takes one parameter i.e items to be removed.
- **discard()**- To remove a single item that may or may not be present in the set. Takes one parameter.if the item is present it will remove it. and if not if will not throw an error.
- **pop()**- to remove any reandom item from a set
- **clear()**- to remove all items from the set. the output will be an empty set.
- **del set**- delete the entire set.

In [33]:
set2={'ab','prakash','sakshi',23,42}
print(id(set2))
set2.remove('ab')
print(set2)
print(id(set2))

2657456696768
{23, 'prakash', 'sakshi', 42}
2657456696768

In [23]:
set2.remove(88)
print(set2)

KeyError: 88

In [24]:
set2.discard(42)
print(set2)

{23, 'prakash', 'sakshi'}

In [27]:
set2.discard('vishal')                      # item is not present but it is not throwing any error it is giving the same output.
print(set2)

{23, 'prakash', 'sakshi'}

In [29]:
set2.discard(23)
print(set2)

{'prakash', 'sakshi'}

In [32]:
new={23,42,63,62,2,'prakash','sakshi','deepak'}
new.pop()
print(new)

{'sakshi', 42, 'deepak', 23, 'prakash', 62, 63}

In [35]:
new.clear()
print(new)

set()

In [36]:
del new

In [37]:
print(new)

NameError: name 'new' is not defined

# Set operations:- 
- **Union**- All the items of both sets will be returned,only the duplicate items will be dropped.
- **Intersection**- It will return the element which is common in both the set.
- **Difference**- this return the unique elements of the first set which are not in second set.
- **symmetric_difference**- return the elements of  both sets which are not common.

In [3]:
set5={42,52,62,63,98,67,'23'}
set6={62,45,23,98}
set5.union(set6)

{'23', 23, 42, 45, 52, 62, 63, 67, 98}

In [4]:
set5.intersection(set6)

{62, 98}

In [5]:
n=set5&set6
print(n)

{98, 62}

In [3]:
set5.difference(set6)

{'23', 42, 52, 63, 67}

In [7]:
set5.symmetric_difference(set6)

{23, '23', 42, 45, 52, 63, 67}

In [1]:
hmm={4324,42,}
print(hmm)

{42, 4324}

In [5]:
han={343,42,42}
print(han)

{42, 343}