# Tuples:
- ordered
- immutable
- allows duplicate
- good for fixed records

In [1]:
t=(12,42,52)
single=(32)
print('tuple:',t)
print('Single element tuple:',single)

tuple: (12, 42, 52)
Single element tuple: 32

In [3]:
t1=(32)                                     # without a comma it is int
print(type(t1))

<class 'int'>

In [4]:
t3=(53,)
print(type(t3))

<class 'tuple'>

In [5]:
t2=1,2,3                                              
print(t2)
print(type(t2))

(1, 2, 3)
<class 'tuple'>

In [4]:
t4=1,'prakash',13                       # elements without a round brackets are also tuple.
print(type(t4))

<class 'tuple'>

# Tuple method:

*len()*
- len() is a function,not a method

In [7]:
t=(190,42,52)
print('length',len(t))

length 3

**tuple.count()**

In [8]:
t=(12,3,4,5,7,4,8,4)
print('count of 4:',t.count(4))

count of 4: 3

# tuple.index(): ***it shows the index of the first occurence u ask in the tuple***.

In [9]:
t=(4,5,6,78)
print('index of 6 is:',t.index(6))

index of 6 is: 2

In [10]:
tuple1=('Elon musk','Sam altman','Elon musk','Steve jobs',True,45)
tuple1.count('Elon musk')

2

# Indexing and slicing

In [12]:
t=("Prakash")
t[1]

'r'

In [13]:
t[0:3]

'Pra'

In [15]:
t[::-1]

'hsakarP'

In [18]:
t[-1]

'h'

# Concatenation and Repetition

In [1]:
t1=(1,2)
t2=(3,4)
print('t1+t2:',t1+t2)
print('t1*3:',t1*3)

t1+t2: (1, 2, 3, 4)
t1*3: (1, 2, 1, 2, 1, 2)

In [22]:
'prakash'+'rawat'

'prakash  rawat'

# Membership

In [29]:
# Membership operators: in    and    not in
t=(2,5,6)
print(3 in t)
print(6 not in t)

False
False

In [31]:
print(2 in t)
print(t in 2) # illogical

True

TypeError: argument of type 'int' is not iterable

In [41]:
name1=('prakash','rawat')
name2=(('prakash','rawat'),'Sam','Bill')
print(name1 in name2)
print(name2 in name1)
print(name1[1] in name2)
print('Sam' in name2)
print(('prakash','rawat') in name2)

True
False
False
True
True

# ***tuple() without a comma , is integer***

In [1]:
tuple=(2,)
type(tuple)

tuple

In [2]:
tuple=(2)
type(tuple)

int